/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

.mainfooterwrapper
{
  height: 30px;
  width: 100%;
  clear: both;
}

.maincontent
{
  width: 960px;
  margin: 0 auto;
  padding: 30px 0;
  min-height: 500px;
}

.topbar-wrapper {
  height: 40px;
  margin: 5px 0 15px;
  position: relative;
}

.topbar-wrapper .topbar {
  margin: 0 -20px;
  position: absolute;
}

.topbar-wrapper .topbar .topbar-inner {
  border-radius: 4px 4px 4px 4px;
  padding-left: 20px;
  padding-right: 20px;
}

.blog-posts {
  display: inline;
  float: left;
  font-size: 12px;
  margin-right: 10px;
  margin-top: 15px;
  width: 295px;
}

.blog-post {
  /*background: url("postbg.jpg") no-repeat scroll left top #202931;*/
  float: left;
  height: 200px;
  margin: 10px 0;
  width: 490px;
}

.blog-post h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 0 60px;
  font-color: white;
}

.date {
  display: inline;
  font-size: 10px;
  margin-left: 60px;
}

.container_bg {
  /*background: none repeat scroll 0 0 #3A4954;*/
  border: 1px solid #485865;
  margin: 0 auto 60px;
  padding-bottom: 20px;
  width: 940px;
  background:transparent;
  zoom: 1;
  /* RGBa with 0.4 opacity */
  background: rgba(235, 234, 228, 0.7);
  /* IE6 & 7 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#66EBEAE4, endColorstr=#66EBEAE4);
  /* IE8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#66EBEAE4,endColorstr=#66EBEAE4)";
}

body {
  background-attachment: fixed;
  background-image: url("thailand_bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%, auto auto;
}
